@model Project_N01543896.ViewModels.TeacherClassViewData
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<nav>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    <a class="navlink" href="/teacher/Update/@Model.teacher.teacherId">Update</a>
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacher.teacherId">Delete</a>
</nav>
    <div id="containershow">
        <h2>@Model.teacher.teacherFName @Model.teacher.teacherLName</h2>
        <p class="fw-bold">Hired on : @Model.teacher.hireDate.ToShortDateString()</p>
        <p class="fw-bold">Salary : @Model.teacher.salary</p>
        <p class="fw-bold">Classes Taught</p>
        <div id="containerlist">
            @foreach (var classes in Model.classes) {
                <div class="listitem row">
                    <div class="col-md-12 mt-1 mb-1 text-decoration-none"><a href="/Classes/Show/@classes.classId">@classes.classCode - @classes.className</a></div>
                </div>
            }
        </div>
    </div>
